.kaasje{
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
}

.kaasje h1:hover{
    color: yellow;
}

header ul li a{
    text-decoration: none;
    color: white;
}

*{
    background-color: black;
    color: white;
}